* {
  -webkit-user-select: none;
}

body {
  background-image: url('images/htmlbg.png')
}

.files {
  padding: 0;
  margin: 0;
}

.file {
  padding: 2px;
  margin: 2px;
  width: 100px;
  display: inline-block;

  text-align: center;
  vertical-align: top;
}

.file.focus {
  background-color: #08C;
  -webkit-border-radius: 4px;
}

.file .name {
  word-wrap: break-word;
}

.file.focus .name {
  color: white;
}

.file .icon {
  margin: auto;
  margin-top: 0;
}

.file.focus .icon {
  -webkit-filter: invert(20%);
}

li.active a {
    color: darkgreen;
    text-shadow: 1px 1px 1px #AAA;
}